:root {
  --text-main: hsl(0, 0%, 20%);
  --text-secondary: hsl(0, 0%, 56%);
  --text-inactive: hsl(195, 3%, 45%);
  --icon-primary: hsl(208, 10%, 61%);
  --icon-secondary: hsl(200, 25%, 79%);
  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 0%, 97%);
  --background-gray: hsl(0, 0%, 94%);
  --background-orange: hsl(29, 94%, 94%);
  --background-green: hsl(78, 70%, 75%);
  --background-blue: hsl(202, 52%, 96%);
  --other-disabled-elements: hsl(0, 0%, 75%);
  --other-overlay-shadows: hsl(0, 0%, 0%);
  --accent-primary: hsl(200, 34%, 50%);
  --accent-primary-hover: hsl(200, 43%, 39%);
  --accent-positive: hsl(76, 100%, 33%);
  --accent-positive-hover: hsl(88, 60%, 32%);
  --accent-danger: hsl(0, 58%, 56%);
  --comments-author: hsl(87, 60%, 92%);
  --comments-new: hsl(210, 100%, 95%);
  --comments-moderation: hsl(352, 100%, 95%);
  --comments-user: hsl(29, 94%, 94%);
  --complexity-low: hsl(140, 50%, 52%);
  --complexity-medium: hsl(200, 70%, 58%);
  --complexity-high: hsl(350, 80%, 68%);
  --label-dodger-blue: hsl(210, 80%, 52%);
  --label-pelorous: hsl(185, 90%, 35%);
  --label-deluge: hsl(239, 25%, 52%);
  --label-apple: hsl(134, 70%, 38%);
  --label-sorbus: hsl(30, 96%, 49%);
  --label-mulberry: hsl(320, 52%, 50%);
  --label-scarlet: hsl(0, 100%, 43%);
  --label-dark-orchid: hsl(285, 100%, 43%);
  --header-text: hsl(0, 0%, 100%);
  --header-background: hsl(207, 17%, 23%);
  --header-secondary-background: hsl(210, 9%, 13%);
  --header-megapost-anakiwa: hsl(200, 100%, 80%);
  --header-megapost-mint-green: hsl(128, 100%, 80%);
  --header-megapost-pale-canary: hsl(60, 100%, 80%);
  --header-megapost-mona-lisa: hsl(5, 100%, 80%);
  --header-megapost-lavender-rose: hsl(305, 100%, 80%);

  /* formula */
  --formula-filter: invert(0);

  /* code */
  --cm-name: var(--accent-primary-hover);

  /* Rt-dc Special */
  --rt-dc-bg-banner: #3297e9;
  --rt-dc-bg-card: #fff;
  --rt-dc-bg-card-picked: #263137;
  --rt-dc-bg-banner-gradient: linear-gradient(180deg, #732eff -19%, #3297e9 75%);
  --rt-dc-bg-main: #7800ff;
  --rt-dc-bg-neutral: #fff;
  --rt-dc-bg-button-main: var(--rt-dc-bg-main);
  --rt-dc-bg-button-secondary: #263137;
  --rt-dc-bg-button-disabled: #429feb;
  --rt-dc-bg-button-main-hover: #5900bd;
  --rt-dc-bg-button-secondary-hover: #151b1e;
  --rt-dc-bg-card-level2: #ecf6fd;
  --rt-dc-bg-card-picked-level2: #294962;
  --rt-dc-bg-card-level3: #bedef8;
  --rt-dc-bg-card-picked-level3: #2d6ea2;
  --rt-dc-text-main: #fff;
  --rt-dc-text-secondary: #263137;
  --rt-dc-text-tertiary: #c8d5fa;
  --rt-dc-text-additional: #9e9e9e;
  --rt-dc-text-button-disabled: #89b9ec;
  --rt-dc-stroke: rgba(255, 255, 255, 0.3);
  --rt-dc-stroke-secondary: #fff;
  --rt-box-shadow-main:
    0 0 128.135px 0 rgba(169, 98, 254, 0.5), 0 0 6.102px 0 #a962fe, 0 0 3.051px 0 #5b00c8;
  --rt-box-shadow-secondary: 0 0 45px 0 rgba(255, 255, 255, 0.7), 0 0 2px 0 #fff;
}
